body {
	background-color: rgba(243, 244, 246, 1);
}

.spin {
	width: 16px;
	height: 16px;
	animation: spin 0.75s linear infinite;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-right: 2px solid #2d2d2d;
}

@keyframes spin {
	from {
		transform: rotate(-360deg);
	}
}
